# DTSA 5510 Final Project

## Imports

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Data import

In [5]:
reviews = pd.read_csv('data/reviews.csv')

In [6]:
reviews.head()

,ID,REVIEW_DATE,IS_VERIFIED,RATING,REVIEW_TITLE,REVIEW_TEXT,NAME
0,3129911,2022-08-17,True,1,This has NO flavor,"This item has no flavor, several people have t...",United States
1,2702184,2022-06-07,True,1,Different formula,I have used this brand of sunscreen for about ...,United States
2,760128,2014-06-03,True,5,Vitex!!!,Have been using these for at least 20 months a...,United States
3,760140,2013-11-24,True,5,Stopping hair loss,Bought this to help fight hair loss along with...,United States
4,760132,2014-04-10,True,5,coming off of birth control,this company is one of the best most honest i'...,United States

In [7]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10000 non-null  int64
 1   REVIEW_DATE   10000 non-null  object
 2   IS_VERIFIED   10000 non-null  bool
 3   RATING        10000 non-null  int64
 4   REVIEW_TITLE  9999 non-null   object
 5   REVIEW_TEXT   10000 non-null  object
 6   NAME          10000 non-null  object
dtypes: bool(1), int64(2), object(4)
memory usage: 478.6+ KB

In [13]:
reviews[reviews['REVIEW_TITLE'].isnull()]

Empty DataFrame
Columns: [ID, REVIEW_DATE, IS_VERIFIED, RATING, REVIEW_TITLE, REVIEW_TEXT, NAME]
Index: []

In [12]:
reviews.dropna(subset = ['REVIEW_TITLE'], axis = 0, inplace = True)

In [14]:
reviews.isnull().sum()

ID              0
REVIEW_DATE     0
IS_VERIFIED     0
RATING          0
REVIEW_TITLE    0
REVIEW_TEXT     0
NAME            0
dtype: int64